@model List<LibraryAPPP.Models.ViewModels.BookViewModel>

@{
    var books = @Model;
    var searchQuery = Context.Request.Query["searchQuery"].ToString();
    var filteredBooks = string.IsNullOrWhiteSpace(searchQuery)
        ? books
        : books.Where(book =>
            book.Title.Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
            book.AuthorFirstName.Contains(searchQuery, StringComparison.OrdinalIgnoreCase)
            ).ToList();
}




<div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-3">Sklep z książkami</h2>
    <a class="btn btn-secondary" href="/">Strona główna</a>
</div>
<hr/>

<form method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchQuery" placeholder="Wyszukaj książkę lub autora..." value="@searchQuery" />
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Szukaj</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>Autor</th>
        <th>Tytuł</th>
        <th>Data publikacji</th>
        <th>Cena</th>
        <th>Ilość</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in filteredBooks)
    {
        <tr>
            <td>@book.AuthorFirstName @book.AuthorLastName</td>
            <td>@book.Title</td>
            <td>@book.PublicationDate.ToString("yyyy-MM-dd")</td>
            <td>@book.Price</td>
            <td>@book.Quantity</td>
            <td>
                <a class="btn btn-success" href="/Rental/RentBook/@book.ClientId/@book.BookId" onclick="rentBook(@book.BookId, @book.ClientId)">Wypożycz</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script>
        function goHome() {
            window.location.href = "/";
        }

        function buyBook(bookId, clientId) {
            window.location.href = $"/Rental/RentBook/" + clientId + "/" + bookId;
        }
    </script>
}